header {
  background: #ece7e7;
  padding: 1rem;
  text-align: center;
}

body {
  font-family: Arial, sans-serif;
  background: #0d0d0d;
  color: white;
  margin: 0;
}


header input {
  padding: 0.5rem;
  width: 250px;
  border-radius: 5px;
  border: none;
}

h2 {
  margin-left: 1rem;
}


h1 {
  margin: 0;
  text-align: center;
}

#bottomNav {
    display: flex;
        flex-wrap: wrap;

    justify-content: space-between;
    align-items: center;
    background-color: rgb(0, 0, 0);
    padding: 15px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    color:#e8e3e3

}

#navBarWhole {
    position: sticky;
    top: 0;
    z-index: 1000;
    overflow: hidden;
    max-height: none;
    border-style: solid;
    border-color: white;
    box-shadow: 1px 1px 20px yellow;
    
}

#bottomNav a {
color: #ffffff;
}

#bottomNav a:hover {
    color: #ff4242;
}
#leftBook {
width: 32px;
height: 32px;
object-fit: contain;
padding: 20px;
}

.mainNavLinks {
    display: flex;
    align-items: center;
    gap: 30px;
    list-style: none;
}
.mainNavLinks a {
    color: #333;
    font-size: 20px;
}

.mainNavLinks a:hover {
color: #ffffff;
}
.bookPic {
    text-decoration: none;
}

#searchInput {
    width: 250px;
    height: 50px;
    display: flex;
    text-align: center;
    border-radius: 25px;
    background: #fff9f0;
    font-size: 15px;
    width: 350px;
}

#searchInput:focus {
    outline: none;
    border-color: #c49a6c;
}

.underline-hover a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}

.underline-hover a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-color: currentColor;
  transform: scaleX(0);
  transform-origin: bottom left;
  transition: transform 0.2s ease-out;
}

.underline-hover a:hover::after {
  transform: scaleX(1);
}
 #booksIcon {
    font-size: 50px;
 }

.underline-hover a:hover::after {
  transform: scaleX(1);
}



.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  gap: 1rem;
  padding: 1rem;
}


.movie {
  cursor: pointer;
  background: #1c1c1c;
  border-radius: 10px;
  overflow: hidden;
  transition: transform 0.2s;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
}


.movie:hover {
  transform: scale(1.1);
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.6),
              0 0 15px rgba(255, 255, 255, 0.4);
}



.movie img {
  width: 100%;
  display: block;
}


.movie h3 {
  font-size: 16px;
  margin: 10px;
  font-family: Arial, sans-serif;
}

#booksIcon {
  font-size: 50px;
  font-family: Arial, sans-serif; }

#modalDetails h2 {
  font-family: Arial, sans-serif;
  letter-spacing: 2px;
  align-items: center;
}

#modalDetails p,
#modalDetails {
  font-family: Arial, sans-serif;
  letter-spacing: 1px;
    align-items: center;

}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(198, 195, 195, 0.8); /*to change modal bg*/
  display: flex;
  justify-content: center;
  align-items: center;
}


.hidden {
  display: none;
}


.modalStuff {
  background: #000000;
  padding: 20px;
  border-radius: 10px;
  width: 400px;
  max-height: 80%;
  overflow-y: auto;
  letter-spacing: 2px;
    align-items: center;
  }


#closeModal {
  float: right;
  cursor: pointer;
  font-size: 24px;
}


.fav-btn {
  background: rgb(211, 226, 207);
  border: none;
  padding: 10px 15px;
  margin: 10px 0;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
}


.fav-btn:hover {
  transition: 1s; /*Shoutout Magali akekeee*/
  background: orange;
}


.provider-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin: 10px 0;
  letter-spacing: 1px;
}


.provider {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60px;
}


.provider img {
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background: #fff;
}


